<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.slashat.slashapp"
    android:versionCode="5"
    android:versionName="1.5.1.1" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Slashat" >
        <activity
            android:name="se.slashat.slashapp.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="se.slashat.slashapp.androidservice.EpisodePlayer"
            android:label="Episode Player Service" />

        <activity
            android:name="se.slashat.slashapp.LiveFullscreenActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_live_fullscreen"
            android:parentActivityName="se.slashat.slashapp.MainActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.slashat.slashapp.MainActivity" />
        </activity>

        <activity
            android:name="se.slashat.slashapp.fragments.episode.EpisodeDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="se.slashat.slashapp.fragments.about.AboutDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
                android:name="se.slashat.slashapp.fragments.highfive.RecieveHighFiveActivity"
                android:screenOrientation="portrait"/>

        <activity
            android:name="se.slashat.slashapp.fragments.highfive.BadgeDetailActivity"
            android:screenOrientation="portrait"/>

        <activity android:clearTaskOnLaunch="true" android:configChanges="orientation|keyboardHidden"
                  android:name="com.google.zxing.client.android.CaptureActivity" android:screenOrientation="landscape"
                  android:stateNotNeeded="true" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="com.google.zxing.client.android.HelpActivity" android:screenOrientation="user"/>


    </application>

</manifest>
